  * {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-style: oblique;
        font-weight: bolder;
    }
    #scoreboard:hover {
        color: green;
        padding: 20px;
    }
    #scoreboard{
        font-size: 30px;
    }
    #Trivia {
        margin-bottom: 100px;
        background-color: lightgray;
        font-size: 40px;
    }
    .topspot{
      padding-bottom: 125px;
    }
    section {
        margin-top: 60px;
    }
    #restart {
        padding: 10px;
        border-radius: 90px;
        background-color: #428bca;
    }
    #firstoption {
        margin-top: 10px;
        padding: 10px 40px 10px 40px;
    }
    .myButton {
        -moz-box-shadow: inset 0px -3px 11px 1px #bbdaf7;
        -webkit-box-shadow: inset 0px -3px 11px 1px #bbdaf7;
        box-shadow: inset 0px -3px 11px 1px #bbdaf7;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
        background: -moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
        background: -webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
        background: -o-linear-gradient(top, #79bbff 5%, #378de5 100%);
        background: -ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
        background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5', GradientType=0);
        background-color: #79bbff;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        border: 3px solid #84bbf3;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 28px;
        font-weight: bold;
        padding: 6px 76px;
        text-decoration: none;
        text-shadow: -1px -1px 16px #528ecc;
    }
    .myButton:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
        background: -moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
        background: -webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
        background: -o-linear-gradient(top, #378de5 5%, #79bbff 100%);
        background: -ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
        background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff', GradientType=0);
        background-color: #222;
    }
    .myButton:active {
        position: relative;
        top: 1px;
    }
    @media(max-width: 950px) {
        h1{
            font-size: 20px;
        }
        #scoreboard{
          font-size: 20px;
        }
        #Trivia{
          font-size: 25px;
        }
    }
