@import url(http://fonts.googleapis.com/css?family=Monoton);

.brush {
  width: 100px;
  height: 100px;
  background: #1B4370;
  margin: 15px auto;
}

.square {
  float: left;
  width: 10px;
  height: 10px;
  background: #E7E5DB;
  margin: 0;
  border: 1px solid white;
  margin-left: 50%;
  margin-right: 50%;
}


h1 {
  font-family: Monoton;
  font-size: 48px;
  text-align: center;
}

.controls {
  text-align: center;
}

body {
  background-image: url('ps_neutral.png');
}
