@import url(http://fonts.googleapis.com/css?family=Monoton);

.brush {
  width: 50px;
  height: 50px;
  background: #1B4370;
  margin: 5px;
  float: left;
}

.square {
  float: left;
  width: 10px;
  height: 10px;
  background: #E7E5DB;
  margin: 0;
}
.form {
  margin: 25px;
}
h1 {
  font-family: Monoton;
  font-size: 48px;
  text-align: center;
}
p {
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
}
.controls {
  text-align: center;
  padding-bottom:20px;
}

body {
  background-image: url('ps_neutral.png');

}
