@import url(http://fonts.googleapis.com/css?family=Oswald);

.brush {
  width: 100px;
  height: 100px;
  background: #1B4370;
  margin: 15px auto;
}

.square {
  float: left;
  width: 5px;
  height: 5px;
  background: rgba(0,0,0,0);
  margin: 0;
}

h1 {
  font-family: "Oswald";
  font-size: 48px;
  text-align: center;
}

.controls {
  text-align: center;
}

body {
  background-image: url('ps_neutral.png');
}

.canvas {
  width: 900px;
  height: 500px;
  display: block;
  margin: 0 auto 30px auto;
  background-image: url("thedonald.jpg");
  background-size: cover;
}
