@import url(http://fonts.googleapis.com/css?family=Monoton);

.brush {
  width: 100px;
  height: 100px;
  background: #1B4370;
  margin: 15px auto;
}

.square {
  float: left;
  width: 3px;
  height: 3px;
  background: #E7E5DB;
  margin: 0;
}

h1 {
  font-family: Monoton;
  font-size: 48px;
  text-align: center;
}

.controls {
  text-align: center;
}

body {
  background-image: url('ps_neutral.png');
}
